body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    z-index: 1000;
}

.navbar .logo {
    flex: 1;
    text-align: center;
}

.navbar .logo a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 15px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.navbar .nav-links a:hover {
    color: #00bcd4;
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: black;
    margin: 3px;
}

main {
    margin-top: 60px
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img, video {
  width: 300px;
  border: 5px solid black;
  border-radius: 25px;
}
main.odd {
  background-color:#D3D3D3;
}
div.charge {
  text-decoration: bold;
}

@media screen and (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
